

/* NAVBAR */

/* MAIN */
#content main {
    width: 100%;
    padding: 36px 24px;
    font-family: var(--poppins);
    max-height: calc(100vh - 56px);
    overflow-y: auto;
}

#content main .head-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}
#content main .table-data {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
}

#content main .table-data>div {
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
}

#content main .table-data .head {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

#content main .table-data .head h3 {
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

#content main .table-data .head .bx {
    cursor: pointer;
}

#content main .table-data .order {
    flex-grow: 1;
    flex-basis: 500px;
}

#content main .table-data .order table {
    width: 100%;
    border-collapse: collapse;
}

#content main .table-data .order table th {
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--grey);
}

#content main .table-data .order table td {
    padding: 16px 3px;
}

#content main .table-data .order table tr td:first-child {
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}



/* MAIN */
/* CONTENT */
.order header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}
/*form*/
form .btn {
    height: 50px;
    width: 15%;
    background-color: var(--blue);
    color: white;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    border-color: var(--blue);
    font-size: 18px;
}

form .btn .btn-layer {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: var(--blue);
    border-radius: 5px;
    transition: all 0.4s ease;
}

form .btn:hover .btn-layer {
    left: 0;
}

form .btn input[type="submit"] {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: var(--light);
    padding-left: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 15px;
    min-width: 100%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

table thead tr {
    color: #fff;
    background: var(--blue);
    text-align: left;
    font-weight: bold;
}

.table th,
.table td {
    padding: 12px 15px;
}

.table tbody tr {
    border-bottom: 1px solid #ddd;
}

.table tbody tr:nth-of-type(odd) {
    background: var(--grey);
}

.table tbody tr.active {
    font-weight: bold;
    color: var(--blue);
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid var(--blue);
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid black; /* Gray border */
    border-radius: 5px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 10px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */

  .attendance-list {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: var(--light);
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.bar {
    width: 100%;
    position: relative;
}

.bar a {
    position: absolute;
    right: 0%;
    display: inline-block;
    width: 20%;
    height: 40px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    border: 1px solid;
    background-color: var(--blue);
    padding-top: 0.5%;
    color: var(--dark);
    overflow: hidden;
}
.search {
    width: 20%;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #091d2a;
    font-size: 15px;
    display: inline-block;
    background-color: var(--light);
    color: var(--dark);
}
 .todo1 {
    flex-grow: 1;
    flex-basis: 300px;
    background-color: #342E37;
}

