
/* MAIN */
#content main {
    width: 100%;
    padding: 36px 24px;
    font-family: var(--poppins);
    max-height: calc(100vh - 56px);
    overflow-y: auto;
}

#content main .table-data {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
}

#content main .table-data>div {
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
}

#content main .table-data .head {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

#content main .table-data .head h3 {
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}



#content main .table-data .order {
    flex-grow: 1;
    flex-basis: 500px;
}

#content main .table-data .order table {
    width: 100%;
    border-collapse: collapse;
}

/* MAIN */
/* CONTENT */
form .btn {
    height: 50px;
    width: 30%;
    margin-left: 10%;
    margin-right: 20%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    color: white;
    background-color: var(--blue);
}

form .btn .btn-layer {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: var(--blue);
    border-radius: 5px;
    transition: all 0.4s ease;
}

form .btn:hover .btn-layer {
    left: 0;
}
.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 15px;
    min-width: 100%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}
.inline{
    
    margin: 1%;
  }

  .work1{
    text-align: left;
    width: 50%;
  }
  .middle{
    text-align: center;
    font-size:30px ;
}

  .responsive-table 
  li {
    border-radius: 3px;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .table-header {
      background-color: var(--blue);
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      color: white;
      width: 100%;
    }
    .table-row {
      background-color: #ffffff;
      width: 100%;
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    }
  
    

    .col {
      display: flex;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      color: #6C7A89;
      padding-right: 10px;
      content: attr(data-label);
      flex-basis: 50%;
      text-align: right;
    }

   
    .row{
        width: 100%;
    }
    

      .bday{
        width: 35%;
        font-size: 17px;
        height: 40px;
        border: gray solid 2px;
        border-radius: 10px;
    }